body{
  margin-top: 1.5%;
  margin-bottom: auto;
  background: url("https://tetakk.files.wordpress.com/2013/03/moonrise-kingdom.jpg") no-repeat;
  background-size: cover;
  text-align: center;
  font-family: 'Signika', sans-serif;
}

h2{
  border-top-left-radius: 25%;
  border-top-right-radius: 25%;
  font-family: 'Petit Formal Script', cursive;
  padding-top: 30px;
  padding-bottom: 10px;
  color: darkgreen;
  border-bottom: 2.5px dotted darkgreen;
}

input[type="text"] {
  background-color: #C0C0C0;
  color: darkgreen;
  height: 50px;
  width: 200px;
  font-size: 18px;
}

table{
  border-bottom-left-radius: 30%;
  border-bottom-right-radius: 30%;
}

td{
  text-align: center;
  *border-collapse: collapse;
  border-spacing: 0;
  opacity: 0.75;
  font-weight: bolder;
  border-style: hidden;
}

th{
  text-align: center;
  font-size: 28px;
  border-bottom: 2.5px dotted darkgreen;
}

#page-head{
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  background-color: rgba(178, 154, 92);
}

#people_list{
  font-weight: bolder;
}

#removebutton{
  background-color: #C0C0C0;
  color: darkgreen;
}

#removebutton:hover{
  background-color: darkgreen;
  color: white;
}

#signup-form{
  position: relative;
  top: 50px;
}

#submitbutton{
  background-color: #C0C0C0;
  color: darkgreen;
}

#submitbutton:hover{
  background-color: darkgreen;
  color: white;
}

.campbuttons{
  font-family: 'Petit Formal Script', cursive;
}

.container{
  padding: 75px;
}

.people_table{
  padding: 75px;
  background-color: rgba(178, 154, 92, .85);
  color: darkgreen;
  text-align: center;
  *border-collapse: collapse;
  border-spacing: 0;
  border-bottom: solid darkgreen 2.5px;
}

.signup{
  text-align: center;
  background-color: rgba(178, 154, 92, .85);
  color: darkgreen;
  border-top: solid darkgreen 2.5px;;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
